DATABASE_URL="postgresql://admin:libraryDb1234*@localhost:5432/library_db?schema=public"
JWT_SECRET="change-this-super-secret-key-in-production"
JWT_EXPIRES_IN="1d"
PORT=3000
MINIO_ENDPOINT="localhost"
MINIO_PORT="9000"
MINIO_PUBLIC_ENDPOINT="localhost"
MINIO_PUBLIC_PORT="9000"
MINIO_USE_SSL="false"
MINIO_ACCESS_KEY="minioadmin"
MINIO_SECRET_KEY="minioadmin123"
MINIO_BUCKET="books-images"
